@font-face {
src: url(baskervville.ttf);
font-family: baskervville;
}

p {
font-family: baskervville;
}
h1 {
font-family: baskervville;
color: #F59E0B;
}
h2 {
font-family: baskervville;
color: #F59E0B;
}
select {
font-family: baskervville;
border-style: solid;
border-color: #F59E0B;
color: #F59E0B;
}
button {
font-family: baskervville;
border-style: solid;
border-color: #F59E0B;
color: #F59E0B;
}
a {
font-family: baskervville;
color: #F59E0B;
}

input {
font-family: baskervville;
border-style: solid;
border-color: #F59E0B;
color: #F59E0B;
}

body {
display: flex;
flex-direction: column;
align-items: center;
margin: 0;
}

#fullVerses {
position: relative;
width: 400px;
height: 200px;
overflow: auto;
bottom: 0;
display: flex;
flex-direction: column;
align-items: center;
margin: 0;
}

#selectVerse {
display: flex;
flex-direction: column;
align-items: center;
margin: 0;
}
