@font-face {
src: url(typewriter.ttf);
font-family: typewriter;
}

@font-face {
src: url(typewriter-bold.ttf);
font-family: typewriterBold;
}

.gif {
width: 100%;
height: auto;
max-width: 500px;
}

p {
font-family: typewriter;
}
h1 {
font-family: typewriterBold;
color: #F59E0B;
}
h2 {
font-family: typewriterBold;
color: #F59E0B;
}
select {
font-family: typewriter;
border-style: solid;
border-color: #F59E0B;
color: #F59E0B;
}
button {
font-family: typewriter;
border-style: solid;
border-color: #F59E0B;
color: #F59E0B;
}
a {
font-family: typewriter;
color: #F59E0B;
}

input {
font-family: typewriter;
border-style: solid;
border-color: #F59E0B;
color: #F59E0B;
}

body {
display: flex;
flex-direction: column;
align-items: center;
margin: 0;
}

#fullVerses {
position: relative;
width: 400px;
height: 200px;
overflow: auto;
bottom: 0;
display: flex;
flex-direction: column;
align-items: center;
margin: 0;
}

#selectVerse {
display: flex;
flex-direction: column;
align-items: center;
margin: 0;
}
