@font-face {
src: url(baskervville.ttf");
font-family: baskervville;
}

body {
font-family: baskervville;
display: flex;
flex-direction: column;
align-items: center;
margin: 0;
}

#fullVerses {
width: 400px;
height: 200px;
overflow: auto;
}
